@import '../Styles/buttons', '../index';

.App {
  height: 100vh;
  .button-section {
    // @include flex-display-column;
    .default-button {
      @include button-style;
    }
  
    .custom-button {
      @include button-style(100px, 250px, $secondary-color, white)
    }
  }
  .price {
    @extend %currency;
  }
  div {
    // regular styles here
    @include respondTo(desktop) {
      &:hover { background: blue; }
    }
    @include respondTo(tablet) {
      &:hover { background: red; }
    }
  }
}
